/* Fade-in desde abajo */
.fade-in {
    opacity: 0;
    transform: translateY(30px); /* Un movimiento un poco mayor */
    transition: opacity 2.5s ease-in-out, transform 2.5s ease-in-out; /* Duración más larga */
  }
  
  /* Clase activa cuando el elemento es visible */
  .fade-in.show {
    opacity: 1;
    transform: translateY(0); /* Retorna a su posición original */
  }

 /* Fade-in desde la izquierda */
.face-left {
    opacity: 0;
    transform: translateX(-150px); /* Sale más lejos desde la izquierda */
    transition: opacity 1.7s ease-in-out, transform 1.7s cubic-bezier(0.42, 0, 0.58, 1); /* Transición más suave y larga */
  }
  
  .face-left.show {
    opacity: 1;
    transform: translateX(0); /* Vuelve a la posición original */
  }
  
  
  /* Fade-in desde la derecha */
  .face-right {
    opacity: 0;
    transform: translateX(+150px);
    transition: opacity 1.7s ease-in-out, transform 1.7s cubic-bezier(0.42, 0, 0.58, 1); /* Transición más suave y larga */
  }/**/
  
  .face-right.show {
    opacity: 1;
    transform: translateX(0);
  }
  
  /* Aparición con escala (zoom-in) */
  .zoom-in {
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 3s ease-in-out, transform 3s ease-in-out; /* Más lento */
  }
  
  .zoom-in.show {
    opacity: 1;
    transform: scale(1);
  }
  
  /* Aparecer desde abajo */
  .slide-up {
    opacity: 0;
    transform: translateY(150px);
    transition: opacity 1.7s ease-in-out, transform 1.7s ease-in-out; /* Duración más lenta */
  }
  
  .slide-up.show {
    opacity: 1;
    transform: translateY(0);
  }
  